<!--The content below is only a placeholder and can be replaced.-->

<h1>We're here, get ready to win.</h1>


<div style="text-align:center">
  <h2>Welcome to Problem Solving 101! </h2>
  <button [routerLink]="['/add']" >New Restaurant</button>
  <table>
    <tr>
      <th>Restaurant</th>
      <th>Cusine</th>  
      <th>Actions available</th>
    </tr>
    <tr *ngFor="let rest of rests">
      <td>{{ rest.name }}</td>
      <td>{{ rest.cuisine}}</td>
      <td> 
        <button [routerLink]="['/reviews/', rest._id , rest.name]">Read reviews</button> 
        <button [routerLink]="['/edit/', rest._id , rest.name]">EDIT</button>
      
        <p *ngIf="(rest.createdAt )"> <button (click)="deleteByID(rest._id)">DELETE</button></p>
      </td>
    </tr>

  </table>

  <app-edit [myID]="rests[0]._id"></app-edit>

<router-outlet></router-outlet> 
